@import 'common.css';

.userLi {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1.7rem;
}

.female {
  background-color: rgb(253, 201, 192);
}

.male {
  background-color: rgb(196, 196, 254);
}
